*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generic */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
}


img{
  max-width: 100%;
}

h1{
  font-size: 60px;
  font-weight: 900;
}

h2{
  font-weight: 500;
}

h3{
  font-weight: 400;
}

p{
  text-align: left;
  font-size: 12px;
}

/* utilities */
.w-100{
  width: 100%;
}

.test1{
  background-color: green;
}
.test2{
  background-color: lightsalmon;
}
.test1{
  background-color: yellow;
}

.container{
  width: 90%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
}

/* <!-- stile header con nav e button --> */
header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo img{
  vertical-align: text-bottom;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  display: inline-block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

header nav ul li a:hover{
  border-bottom: black;
}

header nav .btn{
  margin-right: 15px;
}

.btn{
  padding: 5px 15px;
  border-style: none;
  font-weight: 400;
}

.btn.blue{
  color: white;
  background-color:#1266ec;
}

.btn.gray{
  color: black;
  background-color:#e1e1e1;
}

/* stile main */
main{
  margin-top: 60px;
}

/* stile jumbotron */
.jumbotron{
  min-height: 550px;
  max-height: 700px;
  background-color: #b4d0e7;
  justify-content: center;
  align-items: center;
}

.boxjumbo{
  width: 80%;
  max-width: 1200px;
  height: 400px;
  flex-direction: column;
}

.boxjumbo h1{
  margin-bottom: 50px;
}

.box-text{
  width: 35%;
  flex-direction: column;
}

.box-image{
  width: 65%;
}

.cont-boxjumbo{
  position: relative;
}

.cont-boxjumbo .box-image img{
  min-width: 50%;
  max-width: 65%;
  position: absolute;
  top: 0;
  right: 0;
}

.boxjumbo .box-text .btn{
  max-width: fit-content;
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn.blue:hover{
  background-color: #2e7efe;
  cursor: pointer;
}

.boxjumbo .box-text i{
  margin-top: 25px;
  font-size: 30px;
}

.boxjumbo .box-text a{
  text-decoration: none;
  color: black;
}
/* /stile Jumbotron */





