*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generic */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
}


img{
  max-width: 100%;
}

h1{
  font-size: 60px;
  font-weight: 900;
}

h2{
  font-size: 25px;
  font-weight: 900;
}

h3{
  font-size: 18px;
  font-weight: 900;
}

h4{
  font-size: 12px;
  font-weight: 900;
}

p{
  text-align: left;
  font-size: 12px;
}

/* utilities */
.w-100{
  width: 100%;
}

.test1{
  background-color: green;
}
.test2{
  background-color: lightsalmon;
}
.test1{
  background-color: yellow;
}

.container{
  width: 100%;
  max-width: 850px;
  min-width: 600px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
}

/* <!-- stile header con nav e button --> */
header{
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo img{
  vertical-align: text-bottom;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  display: inline-block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

header nav ul li a:hover{
  border-bottom: black;
}

header nav .btn{
  margin-right: 15px;
}

.btn{
  padding: 5px 15px;
  border-style: none;
  font-weight: 400;
  text-align: center;
}

.btn.blue{
  color: white;
  background-color:#1266ec;
}

.btn.gray{
  color: black;
  background-color:#e1e1e1;
}

/* stile main */
main{
  margin-top: 60px;
}

/* stile jumbotron */
.jumbotron{
  height: 450px;
  background-color: #b4d0e7;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boxjumbo{
  width: 80%;
  max-width: 1100px;
  height: 400px;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.boxjumbo h1{
  margin-bottom: 40px;
}

.cont-boxjumbo .box-text{
  width: 35%;
  flex-direction: column;
}

.cont-boxjumbo .box-image{
  width: 65%;
}

.cont-boxjumbo{
  margin: 0 auto;
}

.cont-boxjumbo .box-image img{
  width: 500px;
  min-width: 450px;
  max-width: 65%;
}

.boxjumbo .box-text .btn{
  max-width: fit-content;
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn.blue:hover{
  background-color: #2e7efe;
  cursor: pointer;
}

.btn.white:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}

.boxjumbo .box-text i{
  margin-top: 25px;
  font-size: 30px;
}

.boxjumbo .box-text a{
  text-decoration: none;
  color: black;
}
/* /stile Jumbotron */

/* stile section */
section{
  margin-top:100px;
}

/* stile card pacchetti aziendali */
.plans h2{
  margin-bottom: 30px;
}

.plans .radio1, .radio2{
  margin-right: 10px;
}

.select-plan{
  justify-content: space-between;
}

.select-plan .card .headcard{
  display: block;
  min-width: 250px;
  text-align: center;
  padding: 8px 68px;
  border: 0.5px solid #d2d2d2;
  color: #4d4d4d;
}

.card.standard{
  margin: 0 30px;
}

.plans .select-plan{
  margin-top: 35px;
}

.card .bodycard{
  flex-direction: column;
  padding: 20px 20px;
  border: 0.5px solid #d2d2d2;
  width: 250px;
  height: 650px;
}

/* stile titolo del piano (bodycard) */
.bodycard h3{
  margin-bottom: 15px;
}

.bodycard .price{
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 10px;
}

.bodycard .type-plan{
  color: #8a8a8a;
  font-size: 12px;
}

/* position icon in cards */
.bodycard ul .user, .folder, .pencil, .userplus, .emoji{
  list-style-type: none;
  margin: 20px 6px;
  font-size: 10px;
  font-weight: 500;
  padding-left: 14px;
  position: relative;
}

/* icon user */
.bodycard ul .user::before{
  font-family: "Font Awesome 6 free";
  content: '\f007';
  font: var(--fa-font-regular);
  position: absolute;
  left: -4px;
  font-size: 12px;
}

/* icon folder */
.bodycard ul .folder::before{
  font-family: "Font Awesome 6 free";
  content: '\f07b';
  font: var(--fa-font-regular);
  position: absolute;
  left: -4px;
  font-size: 12px;
}

/* icon pencil */
.bodycard ul .pencil::before{
  font-family: "Font Awesome 6 free";
  content: '\f303';
  font: var(--fa-font-solid);
  position: absolute;
  left: -4px;
  font-size: 12px;
}

/* icon userplus */
.bodycard ul .userplus::before{
  font-family: "Font Awesome 6 free";
  content: '\f234';
  font: var(--fa-font-solid);
  position: absolute;
  left: -4px;
  font-size: 12px;
}

/* icon emoji */
.bodycard ul .emoji::before{
  font-family: "Font Awesome 6 free";
  content: '\f118';
  font: var(--fa-font-regular);
  position: absolute;
  left: -4px;
  font-size: 12px;
}

/* stile button in cards */
.bodycard .btn.blue{
  font-size: 10px;
  font-weight: 500;
  padding: 8px 0;
  margin: 20px 0;
}

/* stile testo sotto il blue button */
.bodycard span{
  font-weight: 500;
  font-size: 12px;
}

.bodycard span a{
  color: #2e7efe;
}

hr{
  width: 37px;
  border: 1px solid #dbdbdb;
  margin: 25px 0;
}

/* position checklist */
.bodycard .highlightsplan ul li{
  list-style-type: none;
  margin: 20px 6px;
  font-size: 10px;
  font-weight: 500;
  padding-left: 14px;
  position: relative;
}

/* checklist */
.bodycard .highlightsplan ul li::before{
  font-family: "Font Awesome 6 Free";
  content: '\f00c';
  position: absolute;
  left: -4px;
  font-size: 12px;
  color: #2e7efe;
  font-weight: bold;
}

.card-enterprise{
  margin-top: 30px;
  border: 1px solid #d2d2d2;
  width: 100%;
}

/* card enterprise */
.card-enterprise .bodycard{
  padding: 25px;
  position: relative;
}

.card-enterprise .bodycard .btn.blue{
  max-width: fit-content;
  padding: 5px 35px;
  position: absolute;
  top: 5px;
  right: 25px;
}

.card-enterprise .headcard{
  justify-content: center;
  padding: 9px 0;
  border-bottom: 1px solid #d2d2d2;
}

.card-enterprise .bodycard h4{
  margin-bottom: 20px;
}

/* section 2 */

.drop-partner .box-image{
  width: 50%;
}

.drop-partner .box-text{
  padding: 25px 55px;
  width: 50%;
}

.box-text .btn.white{
  border: 1px solid black;
  width: fit-content;
}

.drop-partner .box-text h3,p{
  margin-bottom: 20px;
}

.drop-partner .box-text p{
  line-height: 1.5rem;
}
/* /section 2 */

/* section 3 */

.operation-dropb h2{
  margin-bottom: 40px;
}

.card-op{
  justify-content: space-around;
  margin-bottom: 30px;
}

.contain-img{
  width: 200px;
}

.contain-img p span{
  text-decoration: underline;
}







